  /* Footer Section Styles */
  /* Footer CSS */

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
  
  }
  
  body {
    font-family: 'Poppins', sans-serif;
  }
  
  .main {
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
  }

  footer {
    background-color: #1E55A4;
    color: white;
    padding: 40px 0;
    text-align: center;
    margin-top: 30px;
    margin-left: -30px;
    margin-bottom: -30px;
    width: 100vw;
  }
  
  .footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    margin-bottom: 20px;
  }
  
  .footer-left {
    gap: 10px;
    display: flex;
      flex-direction: row;
      justify-content: flex-start;
      height: 100px;
      width: 60%;
      align-items: flex-end;
  }
  
  .footer-logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .footer-text {
    font-size: 20px;
    font-weight: bold;
  }
  
  .footer-right {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }
  
  .footer-right a {
    color: white;
    text-decoration: none;
  }
  
  .footer-right a:hover {
    text-decoration: underline;
  }
  
  .footer-bottom {
    border-top: 1px solid #0c3c82;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
  }
  
  .footer-address {
    text-align: left;
    font-size: 14px;
    line-height: 1.5;
  }
  
  .footer-social {
    display: flex;
    gap: 15px;
  }
  
  .footer-social a {
    color: #1E55A4;
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }
  
  .footer-social a:hover {
    background-color: #ccc;
  }
  
  .footer-legal{
    display: flex;
      flex-direction: column;
      gap: 10px;
      text-align: left;
  }
  
  .footer-legal h3{
    margin-top: 10px;
      font-size: 20px;
  }
  
  .footer-address{
    display: flex;
      flex-direction: column;
      gap: 10px;
      text-align: left;
  }
  
  .footer-address h3{
    margin-top: 10px;
    font-size: 20px;
  }

  .footer-logo img{
    margin-bottom: -20px;
    height: 7rem;
    width: 7rem;
    background-color: #fff;
    border-radius: 10px;
    padding: 2px
  }

  .text-align-justify{
    text-align: justify;
  }


  @media only screen and (max-width: 480px) {

    .footer{
      width: 120vw;
    }

    .footer-top {
      display: flex;
      align-items: center;
      padding: 0 10%;
      margin-bottom: 20px;
      margin-right: 20px;
  }
}

@media only screen and (max-width: 380px) {

  .main{
    width: 100vw;
    padding: 0;
    overflow: hidden;
  }
  
  .footer{
    width: 120vw;
  }

  .footer-top {
    display: flex;
    align-items: center;
    padding: 0 10%;
    margin-bottom: 20px;
    margin-right: 20px;
}
}