* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;


}

body {
  font-family: 'Poppins', sans-serif;
}

.main {
  width: 100%;
  padding: 30px;
  box-sizing: border-box;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FAFAFA;
  border-radius: 50px;
  padding: 10px 20px;
  margin-bottom: 30px;
}

.nav-left img {
  max-width: 100%;
  height: 3rem;
}

.nav-right {
  padding-left: 20px;
  padding: auto;
  height: 60px;
  width: 32%;
  border-radius: 50px;
  list-style: none;
  display: flex;
  background-color: #fefeff;
  gap: 2rem;
}

.nav-right li {
  display: flex;
  align-items: center;
}

.nav-right a {
  text-decoration: none;
  color: black;
}

.nav-right a.active {
  color: #1E55A4;
}

.nav-btn {
  border: 1px solid rgba(190, 190, 190, 1);
  background-color: rgba(254, 254, 255, 1);
  border-radius: 40px;
  padding: 10px 20px;
  cursor: pointer;
}

.nav-btn:hover {
  transform: scale(1.1);
}

.front {
  color: rgba(250, 250, 250, 1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("./assets/Rectangle 14.png");
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  padding: 40px;
}

.cntnt {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}

.front-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 600px;
  margin-bottom: 20px;
}

.front-title {
  line-height: 5rem;
  text-align: start;
  font-size: 4rem;
  font-weight: 600;
  margin: 10px 0;
}

.front-desc {
  width: 73%;
  text-align: start;
  font-size: 1rem;
  line-height: 1.5;
  margin: 10px 0;
}

.frnt-img {
  max-width: 100%;
  height: auto;
}

.frnt-button {
  font-weight: 900;
  border: none;
  color: rgba(250, 250, 250, 1);
  background-color: rgba(30, 85, 164, 1);
  padding: 15px 30px;
  border-radius: 40px;
  margin-top: 20px;
  cursor: pointer;
}

.card-1 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 5rem;
}

.card-2{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 3rem;
  margin-bottom: 5rem;
}

.crds-right{
  width: 50%;
}

.crds-right h2{
  font-weight: 700;
  color: #1E55A4;
  margin-bottom: 10px;
}

.crds-right h3{
  font-weight: 400;
  margin-bottom: 20px;
}

.crds-left h2{
  font-weight: 700;
  color: #1E55A4;
  margin-bottom: 10px;
}

.crds-left h3{
  font-weight: 400;
  margin-bottom: 20px;
}

.crds-left{
  margin-left: 90px;
}

.crds {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.crds-reverse{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

.card-img, .card-img-item {
  max-width: 100%;
  height: auto;
  margin-left: 120px;
  width: 30%;
  height: 40%;
}

.crd-img-1, .crd-img-2{
  width: 70%;
  border-radius: 10px;
}

.crd-img-2{
  width: 70%;
  margin-left: 40px;
}


.front1 {
  color: rgba(250, 250, 250, 1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: url("./assets/Rectangle 14.png");
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  padding: 40px;
  gap: 20px;
}

.front-2 {
  max-width: 600px;
}

.front-2 h1{
  margin-bottom: 30px;
  color:#F3CF67;
  font-weight: 700;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px;

}

.banner-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.banner-text h1{
  font-weight: 600;
}

.banner-text h2{
  font-size: 40px;
}

.banner-highlight {
  color: rgba(30, 85, 164, 1);
  font-weight: 900;
}



.banner-btn {
  font-weight: 600;
  border: none;
  background-color: rgba(30, 85, 164, 1);
  color: white;
  padding: 15px 50px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}


@media only screen and (max-width: 1024px) {
  .main{
    overflow: hidden;
  }

  .nav{
    display: flex;
    flex-direction: row;
  }

  .nav-right{
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  
}

@media only screen and (max-width: 768px) {
  .front1{
    display: flex;
    flex-direction: column;
  }
  .crds{
    display: flex;
    flex-direction: column;
  }

  .crds-reverse{
    display: flex;
    flex-direction: column;
  }

  .card-img, .card-img-2 {
    width: 60%;
    margin: 0;
    order: 1;
  }

  .card-img-2, .card-img {
    margin: 0;
    order: -1;
  }

  .crds.reverse .card-img-2 {
    order: -1;
  }

  .crds-right{
    width: 60%;
    margin-top: 10px;
  }

  .crds-left{
    width: 60%;
    margin-right: 160px;
    margin-top: 20px;
  }
  
}

@media only screen and (max-width: 480px) {
  .main{
    width: 100vw;
    padding: 0;
    overflow: hidden;
  }

  

  .nav {
    display: flex;
    flex-direction: column;
    background-color: #FAFAFA;
    border-radius: 50px;
    padding: 10px 20px;
    margin-bottom: 30px;
  }

  .nav-right{
    width: 135%;
    display: flex;
    flex-direction: row;
    margin-left: -43px;
  }

  .crds{
    display: flex;
    flex-direction: column;
  }

  .crds-right h2 {
    margin-left: 20px;
    width: 165%;
  }

  .crds-right h3 {
    margin-left: 10px;
    width: 165%;
  }

  .crds-right p{
    width: 140%;
    margin-left: 10px;
  }

  .crds-reverse{
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }

  .crds-right{
    margin-right: 50px;
  }

  .crd-img-2{
    width: 120%;
    margin-left: -37px;
  }

  .crds-left h2{
    margin-left: -70px;
    width: 165%;
  }

  .crds-left h3{
    margin-left: -70px;
    width: 150%;
  }

  .crds-left p{
    width: 136%;
    margin-left: -52px;
  }

  .card-img, .card-img-2 {
    margin: 0;
    order: 1;
  }

  .card-img-2, .card-img {
    margin: 0;
    order: -1;
    margin-left: 55px;
  }

  .crds.reverse .card-img-2 {
    order: -1;
  }

  .crds-right{
    width: 60%;
    margin-top: 10px;
  }

  .crds-left{
    width: 60%;
    margin-right: 160px;
    margin-top: 20px;
  }

  .front{
    margin-left: 3px;
  }

  .front1{
    display: flex;
    flex-direction: column;
  }

  .banner{
    width: 100%;
  
  }

  .banner-text h1{
    width: 120%;
    margin-left: -27px;
  }
  .banner-text h2{
    width: 120%;
    margin-left: -27px;
  }

  .banner-button{
    margin-right: 60px;
  }

  .footer{
    width: 120vw;
  }

}

@media only screen and (max-width: 380px) {
  .main{
    width: 100vw;
    padding: 0;
    overflow: hidden;
  }
  .front{
    margin-left: -3px;
  }

  .front-text{
    margin-left: 40px;
  }

  .front-title {
    width: 80%;
    margin-left: 82px;
  }

  .title-alieos{
    margin-left: 90px;
  }

  .front-desc{
    margin-left: 90px;
    width: 60%;
  }

  .frnt-button{
    margin-left: 90px;
  }

 
  
}
