* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
  }
  
  .main {
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FAFAFA;
    border-radius: 50px;
    padding: 10px 20px;
    margin-bottom: 30px;
  }
  
  .nav-left img {
    max-width: 100%;
    height: auto;
  }
  
  .nav-right {
    padding-left: 20px;
    padding: auto;
    height: 60px;
    width: 30%;
    border-radius: 50px;
    list-style: none;
    display: flex;
    background-color: #fefeff;
    gap: 2rem;
  }
  
  .nav-right li {
    display: flex;
    align-items: center;
  }
  
  .nav-right a {
    text-decoration: none;
    color: black;
  }
  
  .nav-right a.active {
    color: #1E55A4;
  }
  
  .nav-btn {
    border: 1px solid rgba(190, 190, 190, 1);
    background-color: rgba(254, 254, 255, 1);
    border-radius: 40px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .nav-btn:hover {
    transform: scale(1.1);
  }

  .product-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .product-heading h1{
    color: #1E55A4;
    margin-bottom: 30px;
  }

  .product-description{
    width: 60%;
  }


  .card-1 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 5rem;
  }
  
  .card-2{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 3rem;
    margin-bottom: 5rem;
  }
  
  .crds-right{
    width: 30%;
  }
  
  .crds-right h2{
    font-weight: 700;
    color: #1E55A4;
    margin-bottom: 10px;
  }
  
  .crds-right h3{
    font-weight: 400;
    margin-bottom: 20px;
  }
  
  .crds-left h2{
    font-weight: 700;
    color: #1E55A4;
    margin-bottom: 10px;
  }
  
  .crds-left h3{
    font-weight: 400;
    margin-bottom: 20px;
  }
  
  .crds-left{
    margin-left: 60px;
    width: 30%;
  }
  
  .crds {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .card-img, .card-img-item {
   width: 30%;
    height: auto;
    margin-left: 90px;
  }
  
  .crd-img-1, .crd-img-2{
    width: 100%;
  }

  .card-img-2{
    width: 25%;
  }
  
  
  .banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
  }
  
  .banner-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .banner-text h1 {
    font-weight: 600;
  }
  
  .banner-text h2 {
    font-size: 40px;
  }
  
  .banner-highlight {
    color: rgba(30, 85, 164, 1);
    font-weight: 900;
  }
  
  .banner-btn {
    font-weight: 600;
    border: none;
    background-color: rgba(30, 85, 164, 1);
    color: white;
    padding: 15px 50px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  /* Responsive Styling */
  
  @media only screen and (max-width: 1024px) {
    .main{
        overflow: hidden;
      }
    
      .nav{
        display: flex;
        flex-direction: row;
      }
    
      .nav-right{
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
      }
      
  }
  
  @media only screen and (max-width: 768px) {

    .main{
        width: 100%;
        padding: 0;
        overflow: hidden;
      }
    
      .nav {
        width: 100%;
        display: flex;
        flex-direction: row;
        /* justify-content: space-between; */
        align-items: center;
        background-color: #FAFAFA;
        border-radius: 50px;
        padding: 10px 20px;
        margin-bottom: 30px;
      }
    
      .nav-right{
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
      }
    .crds{
        display: flex;
        flex-direction: column;
      }
    
      .card-img, .card-img-2 {
        width: 60%;
        margin: 0;
        order: 1;
      }
    
      .card-img-2, .card-img {
        margin: 0;
        order: -1;
      }
    
      .crds.reverse .card-img-2 {
        order: -1;
      }
    
      .crds-right{
        width: 60%;
        margin-top: 10px;
      }
    
      .crds-left{
        width: 60%;
        margin-right: 160px;
        margin-top: 20px;
      }
  }
  
  @media only screen and (max-width: 480px) {
    .main{
        width: 150%;
        padding: 0;
        overflow: hidden;
      }
    
      .nav {
        width: 100%;
        display: flex;
        flex-direction: row;
        /* justify-content: space-between; */
        align-items: center;
        background-color: #FAFAFA;
        border-radius: 50px;
        padding: 10px 20px;
        margin-bottom: 30px;
      }
    
      .nav-right{
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
      }
    
      .crds{
        display: flex;
        flex-direction: column;
      }
    
      .card-img, .card-img-2 {
        margin: 0;
        order: 1;
      }
    
      .card-img-2, .card-img {
        margin: 0;
        order: -1;
        width: 60%;
      }
    
      .crds.reverse .card-img-2 {
        order: -1;
        width: 40%;
      }
    
      .crds-right{
        width: 60%;
        margin-top: 10px;
      }
    
      .crds-left{
        width: 60%;
        margin-right: 20px;
        margin-top: 20px;
      }

      .crd-img-1, .crd-img-2{
        width: 100%;
      }
    
      .card-img-2{
        width: 25%;
      }

      .banner{
        width: 150%;
      
      }
    
  }